.p {
  text-align: center;
  font-size: 2rem;
  margin: 50px 0 20px 0;
}

.div {
  background-color: rgb(224, 224, 224);
  width: 1200px;
  height: 1px;
  margin: auto;
  margin-bottom: 30px;
}

.mapContainer {
  margin: auto;
}

.information {
  display: flex;
  width: 1200px;
  margin: 20px auto;
}

.infoAddress {
  display: flex;
}

.infoAddress img {
  width: 24px;
  height: 32px;
  margin: auto;
}

.infoAddress p {
  margin: auto;
  padding: 10px;
  font-size: 1.3rem;
}

.infoTel {
  margin-left: auto;
  align-items: center;
  display: flex;
}

.infoTel span {
  float: right;
  padding: 15px;
}

.infoTel h3 {
  margin: 0;
  padding: 0;
}

.infoTel p {
  margin: 0;
  padding: 0;
}

.infoFax {
  align-items: center;
  display: flex;
  margin-left: 30px;
}

.infoFax span {
  float: right;
  padding: 15px;
}

.infoFax h3 {
  margin: 0;
  padding: 0;
}

.infoFax p {
  margin: 0;
  padding: 0;
}

/* transport */
.transport {
  width: 1200px;
  margin: 20px auto;
}

.transportTitle {
  font-size: 1.3rem;
  color: rgb(179, 78, 78);
  margin: 30px 0;
}

.transportList {
  display: flex;
}

.transportBus {
  align-items: center;
  display: flex;
}

.transportBus span {
  float: right;
  padding: 15px;
}

.transportBus h3 {
  margin: 0;
  padding: 0;
}

.transportBus p {
  margin: 0;
  padding: 0;
}

.transportTrain {
  align-items: center;
  display: flex;
  float: right;
  margin-left: 50px;
}

.transportTrain span {
  padding: 15px;
}

.transportTrain h3 {
  margin: 0;
  padding: 0;
}

.transportTrain p {
  margin: 0;
  padding: 0;
}
