@font-face {
  font-family: "font_s";
  src: url("../../font/font_s.TTF");
}

@font-face {
  font-family: "font_m";
  src: url("../../font/font_m.TTF");
}

@font-face {
  font-family: "font_b";
  src: url("../../font/font_b.TTF");
}

@font-face {
  font-family: "font_eb";
  src: url("../../font/font_eb.TTF");
}

body {
  margin: 0;
  font-family: "Noto Sans KR";
  overflow-x: hidden;
}

.header {
  background-color: #170d24;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/메인이미지1.png);
  background-position: center center;
  place-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* animation */
  animation: fadein 2.5s;
  background-color: black;
  opacity: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text {
  position: absolute;
  color: white;
  top: 140px;
  right: 100px;
}

.text1 {
  text-align: right;
  padding: 0;
  margin: 0;
}

.text2 {
  text-align: right;
  font-size: 42px;
  padding: 0;
  margin: 0;
}

.text3 {
  text-align: right;
  padding: 0;
  margin: 0;
}

.text4 {
  padding: 0;
  margin: 0;
}

.button {
  position: absolute;
  color: white;
  font-size: 1.2rem;
  background-color: #df7366;
  width: 110px;
  height: 110px;
  bottom: 130px;
  right: 48%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s 0s;
}

.button:hover {
  background-color: #e79188;
}
