body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

.header {
  background-color: #170d24;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/main1.png);
  background-position: center center;
  place-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* animation */
  animation: fadein 7s;
  background-color: black;
  opacity: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text {
  position: absolute;
  color: white;
  top: 140px;
  right: 100px;
}

.text1 {
  text-align: right;
  padding: 0;
  margin: 0;
}

.text2 {
  text-align: right;
  font-size: 42px;
  padding: 0;
  margin: 0;
}

.text3 {
  text-align: right;
  padding: 0;
  margin: 0;
}

.text4 {
  padding: 0;
  margin: 0;
}

.button {
  position: absolute;
  color: white;
  font-size: 1.2rem;
  background-color: #c7b6b6;
  bottom: 150px;
  left: 50%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #ddbfbf;
}
