a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 35px;
}

.naviMenu {
  display: flex;
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.naviMenu li {
  /* padding: 8px 25px; */
  padding: 20px 25px;
  cursor: pointer;
}

.naviUtill {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 10px;
}

.naviUtill li {
  padding: 20px 25px;
  cursor: pointer;
}

.facebook {
  color: rgb(36, 36, 138);
  padding: 0 5px;
}

.language {
  padding: 0 5px;
}
