a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 35px;
  position: relative;
  background-color: #fff;
  width: 100%;
  outline: 1px solid rgb(224, 224, 224);
  z-index: 10;
  top: 0;
}

.naviMenu {
  display: flex;
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.naviMenu li {
  padding: 20px 25px;
  cursor: pointer;
}

.naviMenu li::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid black;
  margin: 19px 0 -21px 0;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.naviMenu li:hover::after {
  transform: scaleX(1);
}

.naviUtill {
  display: flex;
  list-style: none;
  margin: 0 100px 0 0;
  margin-left: auto;
}

.naviUtill li {
  padding: 20px 25px;
  cursor: pointer;
}

.facebook {
  color: rgb(36, 36, 138);
  padding: 0 5px;
}

.language {
  padding: 0 5px;
}

/* 드롭다운 메뉴 - 회사소개 */
.dropdownIntro {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  display: flex;
  padding: 0 0 30px 165px;
  z-index: 5;
  position: absolute;
  background-color: white;
  width: 100%;
}

.dropdownIntro ul {
  padding: 30px 60px 0 20px;
}

.dropdownIntro p {
  margin: 0;
  cursor: pointer;
}

/* 드롭다운 메뉴 - 제품소개 */
.dropdownProduct {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  display: flex;
  padding: 0 0 30px 165px;
  z-index: 5;
  position: absolute;
  background-color: white;
  width: 100%;
}

.dropdownProduct ul {
  padding: 30px 60px 0 20px;
}

.dropdownProduct p {
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  cursor: pointer;
}

.dropdownProduct li {
  list-style: none;
  padding: 5px 0;
  cursor: pointer;
}

/* 드롭다운 메뉴 - AI개발 */
.dropdownAIProduct {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  display: flex;
  padding: 0 0 30px 165px;
  z-index: 5;
  position: absolute;
  background-color: white;
  width: 100%;
}

.dropdownAIProduct ul {
  padding: 30px 60px 0 20px;
}

.dropdownAIProduct p {
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  cursor: pointer;
}

.dropdownAIProduct li {
  list-style: none;
  padding: 5px 0;
  cursor: pointer;
}

/* 드롭다운 메뉴 - 파트너 */
.dropdownPartner {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  display: flex;
  padding: 0 0 30px 165px;
  z-index: 5;
  position: absolute;
  background-color: white;
  width: 100%;
}

.dropdownPartner ul {
  padding: 30px 60px 0 20px;
  cursor: pointer;
}

.dropdownPartner p {
  margin: 0;
  cursor: pointer;
}
