.reel {
  white-space: nowrap;
  position: relative;
}

.article {
  display: inline-block;
  width: 18.5vw;
  background-color: white;
  margin-right: 1vw;
  white-space: normal;
}

.section {
  width: 100%;
  background-color: #f0f4f5;
  padding: 1vw;
  overflow: hidden;
  position: relative;
}

.img {
  width: 100%;
}

.h3 {
  padding: 1em 1em 0 1em;
  text-align: center;
  font-size: 1.5em;
  color: #3f3f3f;
}

.p {
  padding: 0 1em 2em 1em;
  text-align: center;
  color: #5c5b5b;
}

.backward {
  position: absolute;
  top: 40%;
  left: 0;
}

.backwardIcon {
  color: rgba(255, 255, 255, 0.438);
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 100px;
  border-radius: 0 150px 150px 0;
}

.forward {
  position: absolute;
  top: 40%;
  right: 40px;
}

.forwardIcon {
  color: rgba(255, 255, 255, 0.438);
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 100px;
  border-radius: 150px 0 0 150px;
}
