.reel {
  white-space: nowrap;
}

.forward {
  position: absolute;
  top: calc(50% - 3.5rem);
  left: 0;
  width: 3.5rem;
  height: 7rem;
  border-radius: 0 100px 100px 0;
  background-color: rgb(61, 60, 61);
  opacity: 0.6;
  cursor: pointer;
}

.backward {
  position: absolute;
  top: calc(50% - 3.5rem);
  right: 0;
  width: 3.5rem;
  height: 7rem;
  border-radius: 100px 0 0 100px;
  background-color: rgb(61, 60, 61);
  opacity: 0.6;
  cursor: pointer;
}

.article {
  display: inline-block;
  width: 20em;
  background-color: white;
  margin: 1rem;
  white-space: normal;
}

.section {
  width: 100%;
  background-color: #f0f4f5;
  padding: 1rem 0;
  overflow: hidden;
  position: relative;
}

.img {
  width: 100%;
}

.h3 {
  padding: 1em 1em 0 1em;
  text-align: center;
  font-size: 1.5em;
  color: #3f3f3f;
}

.p {
  padding: 0 1em 2em 1em;
  text-align: center;
  color: #5c5b5b;
}
