.dropdownIntro {
  width: 100vw;
  list-style: none;
  margin: 0;
  padding: 12px 0 12px 188px;
  border-top: 1.5px solid rgb(216, 214, 214);
  border-bottom: 1px solid rgb(216, 214, 214);
}

.dropdownIntro li {
  padding: 5px 0;
}
